header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0px;
}

body {
  top: 61px;
  position: relative;
}

a {
  color: black;
  margin: 10px;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  width: 400px;
}

.logo p {
  margin: 15px;
}

/* header */

.column {
  display: flex;
  align-items: flex-start;
  z-index: 5;
}

.large {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-grow: 0;
  width: 630px;
  margin: 20px;
}

.medium {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  width: 300px;
  flex-shrink: 0;
  margin: 20px;
}

.small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 240px;
  flex-shrink: 0;
  margin: 20px;
}

h1 {
  font-size: 40px;
  max-width: 630px;
}

h4 {
  font-size: 16px;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.small p {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  }

.directions p {
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

.directions {
  display: flex;
  flex-direction: column;
  background-color: WhiteSmoke;
}

.top {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  max-width: 630px;
  margin-bottom: 30px;
}

.orca {
  display: inline-block;
  width: 300px;
}

.burger {
  display: inline-block;
  width: 300px;
}

.image {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  align-items: center;
}

.image1 {
  display: flex;
  background-image: url("../images/main-story.png");
  height: 300px;
}

.image2 {
  display: flex;
  background-image: url("../images/season.png");
  height: 300px;
  width: 300px;
  margin-top: 40px;
}

.image3 {
  display: flex;
  background-image: url("../images/camera-man.png");
  height: 300px;
  width: 300px;
  margin-top: 40px;
}

.image4 {
  display: flex;
  height: 300px;
  width: 300px;
  background-image: url("../images/cat.png");
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 400px;
}

footer p {
  font-family: Verdana;
  font-size: 12px;
}

h5 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline;
  padding-right: 30px;
  border-right: 2px solid white;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  width:400px;
}
